html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(0deg,#0c0032 30%,#190061 70%);
    background-attachment: fixed;
    font-family: Chivo-Regular;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 60rem;
}

nav p {
    color: #f3f3f3;
    font-size: 1.75rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

nav ul a {
    background: none;
    color: #f3f3f3;
    font-size: 1.3rem;
    font-weight: 700;
}

nav ul a:hover {
    background: linear-gradient(20deg,#1a26ce 5%,#be40dd 95%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: transparent;
}

.up-price {
    color: #16c784;
}
.down-price {
    color: #ea3943;
}

.content {
    position: relative;
    margin: 8rem auto;
    max-width: 60rem;
}

.main-content p {
    text-align: center;
    color: #f3f3f3;
    font-size: 5rem;
    font-weight: 700;
}

.main-content img {
    position: absolute;
    animation: updown 3s ease-in-out infinite;
}

#bitcoin-image {
    top: 5%;
    right: 100%;
}

#tether-image {
    top: 5%;
    left: 100%;
}

.base-currency {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.base-currency__item {
    text-align: center;
    color: #f3f3f3;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 0.5rem;
}

.table-currency {
    margin-top: 5rem;
    width: 100%;
    border-collapse: collapse;
    color: #f3f3f3;
    font-size: 1.25rem;
    text-align: end;
}

.table-currency #cryptocurrency {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.table-currency .table-image {
    text-align: center;
}

.table-currency .table-image img {
    max-width: 3.5rem;
    height: auto;
}

.table-currency th, td {
    padding: 1rem 0;
}

.table-currency td {
    border-bottom: 1px solid grey;
}

.table-currency td:nth-child(5) {
    width: 30%;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
  
.pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.pagination li{
    display: inline-block;
    margin: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.pagination a {
    padding: 0.75rem 1.25rem;
    color: #f3f3f3;
}

.pagination a.is-active {
    background: linear-gradient(20deg,#1a26ce 5%,#be40dd 95%);
    border-radius: 100%;
}

.pagination a:not(.is-active):hover {
    text-decoration: underline;
}

@keyframes updown {
    0% {
      transform: translateY(-20%) rotate(15deg);
    }
  
    50% {
      transform: translateY(20%) rotate(-15deg);
    }
  
    100% {
      transform: translateY(-20%) rotate(15deg);
    }
}